@use '../abstracts/' as *;

:root {
  --clr-primary: #ebebeb;
  --clr-gray-dark: #292929;
  --clr-invalid: #e71b1b;
  --clr-dark-blue: #055685;

  --fw-normal: 400;
  --fw-bold: 700;

  --shdw-box: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
