@use '../abstracts/' as *;

:root {
  --clr-primary: hsl(0, 0%, 92%);
  --clr-gray-dark: hsl(0, 0%, 16%);
  --clr-dark-blue: hsl(202, 93%, 27%);
  --clr-orange: hsl(39, 100%, 50%);
  --clr-overlay: hsla(0, 0%, 0%, 0.8);
  --clr-invalid: hsl(0, 81%, 51%);
  --clr-valid: hsl(120, 100%, 25%);

  --fw-normal: 400;
  --fw-bold: 700;

  --shdw-box: hsla(0, 0%, 0%, 0.35) 0px 5px 15px;
}
