@use '../abstracts/' as *;

:root {
  --clr-primary: #ebebeb;
  --clr-gray-dark: #292929;
  --clr-dark-blue: #055685;
  --clr-orange: #ffa500;
  --clr-overlay: rgba(0, 0, 0, 0.8);
  --clr-invalid: #e71b1b;
  --clr-valid: #008000;

  --fw-normal: 400;
  --fw-bold: 700;

  --shdw-box: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
