@use './abstracts/' as *;
@use './base/' as *;
@use './utilities/' as *;
@use './components/' as *;
@use './animations/pulse-animation' as *;

.main {
  background-image: url('../assets/game-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.initial-game-ui {
  @include flex-config(
    $direction: column,
    $align: center,
    $justify: space-around
  );
  min-height: 100vh;
  position: relative;
  z-index: 500;

  &__heading {
    font-size: clamp(4rem, 2vw, 7rem);
    text-transform: uppercase;
    text-shadow: 2px 17px 5px rgba(170, 11, 170, 0.3),
      0px -4px 100px rgba(109, 8, 139, 0.3);
    background: -webkit-linear-gradient(rgb(144, 135, 218), rgb(161, 120, 180));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: pulse 1s infinite ease;
  }

  &__span {
    display: block;
    margin-left: 2rem;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.8);
}

.game-section {
  @include flex-config(
    $direction: column,
    $align: center,
    $justify: space-around
  );
  min-height: 80vh;
  position: relative;
  display: none;
  color: var(--clr-primary);

  &__heading {
    color: var(--clr-gray-dark);
    text-align: center;
    padding: 5rem 0;
    font-size: clamp(2rem, 2vw, 4rem);
  }
}

.fetch-error-msg {
  display: none;
}

.categories-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 0 5rem;

  @include respond(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(md) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond(lg) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

.pulse-categories-container {
  animation: pulse 2s infinite;
}

.options-error {
  display: none;
  font-size: 1.8rem;
  font-weight: var(--fw-bold);
  text-align: center;
  color: var(--clr-invalid);
  animation: pulse 2s infinite;
  padding: 2rem 0;
}

.question-div {
  display: none;
  font-size: clamp(1.8rem, 2vw, 2.5rem);
  background: rgb(71, 64, 205);
  background: linear-gradient(
    357deg,
    rgba(71, 64, 205, 1) 0%,
    rgba(93, 9, 121, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 5rem 3rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  text-align: center;

  &__heading {
    padding: 2rem;
  }
}

.answers-list {
  @include flex-config($direction: column, $align: center);
  gap: 2rem;
  color: var(--clr-primary);
  font-size: 2rem;
  padding: 5rem;

  &__answer {
    width: 100%;
    background-color: var(--clr-dark-blue);
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
  }
}

.right-answer {
  background-color: green;
}

.wrong-answer {
  background-color: red;
}
